<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Internal Server Error</title>
</head>
<body>
{% block content %}
    <h2>
        <pre>
            Unfortunately, we have detected an internal server error.
            Our site is currently unavailable.
            We apologize for the inconvenience.

            For more details, please contact the administrator:
            +37544737**** or send an email to: arturkuchynski@gmail.com
        </pre>
    </h2>
{% endblock %}
</body>
</html>