{% extends 'shop/base.html' %}
{% block content %}

<div class="container">
        <div class="row" style="min-height: 300px">
            <p style="font-weight: bolder" class="section-title">
                Contacts :
                </p>
            <div style="margin-left: 30px">
                <pre>
                    Artur, project owner & lead store manager

                    arturkuchynski@gmail.com

                    Address:  Paper street 77,
                            230012,
                            CA, USA
                </pre>

                </div>
        </div>
    </div>

{% endblock %}