{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row" style="min-height: 300px">
            <p class="section-title" style="font-weight: bolder" >
                DELIVERY COSTS AND TERMS
            </p>
                <div>
                    <div>
                    The cost of delivery:
                    <p>

                        - Express delivery: 2.5 $ .
                    </p>
                    <p>
                        - Free shipping by BELPOST.
                    </p>
                    <p>
                        - Courier delivery (Belarus only): 4 $
                    </p>
                </div>

            <p>
                For more information, please contact the administrator:
                +37544737**** or send e-mail: arturkuchynski@gmail.com
            </p>

        </div>
    </div>

{% endblock %}