{% extends 'shop/base.html' %}
{% load i18n %}
{% block content %}

<h1 style="margin-top: 50px" class="text-center">{% trans "Change Password" %}</h1>
<div class="col-md-6 offset-md-3">
	<form method="POST" action="{% url 'users:change_password' %}">
		{% csrf_token %}
		{% if form.errors %}
        <div class="alert alert-warning alert-dismissable fade show" data-auto-dismiss="4000" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
                <span aria-hidden="true">&times;</span>
            </button>

			{% for field in form %}
			{% if field.errors %}
			{{field.errors}}
			{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		{% for field in form %}
		<div class="fieldWrapper">
			{{ field.label_tag }} {{ field }}
			<small class='form-text text-muted'>
				{{field.help_text|striptags}}
			</small>
		</div>
		{% endfor %}
		<input type="submit" value="Save" class="btn btn-secondary">
	</form>
</div>
{% endblock %}