{% extends 'shop/base.html' %}
{% load i18n %}
{% block content %}
{% csrf_token %}
    {% if user.is_authenticated %}
        <h2>{% trans 'Your Profile' %}</h2>
        <p>{% trans 'Username' %}: {{ user.username }}</p>
        <p>{% trans 'Email' %}: {{ user.email }}</p>
{#        <h2>{{ user.get_full_name }}</h2>#}
        <ul>
            <li>{% trans 'Birth Date' %}: {{ user.profile.birth_date }}</li>
            <li>{% trans 'Address' %}: {{ user.profile.address }}</li>
        </ul>
    {% endif %}

{% endblock %}