{% extends 'shop/base.html' %}

{% block content %}

    <h1 style="margin-top: 50px">Here we go!</h1>

    {% if user.is_authenticated %}
        <p>Name :{{ user.first_name }} {{ user.last_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Password: {{ user.password }}</p>
        <p>Email: {{ user.email }}</p>
        <h2>{{ user.get_full_name }}</h2>
        <ul>
          <li>Username: {{ user.username }}</li>
          <li>Location: {{ user.profile.address }}</li>
          <li>Birth Date: {{ user.profile.birth_date }}</li>
        </ul>
    {% endif %}

{% endblock %}